.cms-table__container {
    .products-table {

        th,
        td {
            width: 19% !important;

            &:last-child {
                width: 24% !important;
            }

            .products-table__img {
                width: 5rem;
            }
        }
    }
}