.sidebar {
    position: fixed;
    width: 15.75rem;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--blue);
    color: var(--white);

    .sidebar__title {
        padding: 1rem;
        font-size: 1.4rem;
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.1);
    }

    .sidebar__menu {
        margin-top: 1.2rem;

        .sidebar__item {
            display: block;
            padding: 0.8rem 1rem;
            font-size: 1.2rem;
            
            &:first-child {
                margin-bottom: 1rem;
            }
            
            &.sidebar__item--active {
                background-color: #391588;
            }
            
            .sidebar__link {
                display: flex;
                align-items: end;
                column-gap: 0.5rem;
            }
        }
    }
}