.cms-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cms-table__container {
    padding: 1.25rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);

    .cms-table {
        width: 100%;

        th {
            font-size: 1.1rem;
        }

        th,
        td {
            width: 13%;
            padding: 1rem 2rem;
            text-align: right;
            vertical-align: middle;

            &:last-child {
                width: 30%;
            }

            .cms-table__btn {
                background-color: var(--blue);
                color: var(--white);
                border: none;
                padding: 0.3rem 1rem;
                margin-left: 0.2rem;
                cursor: pointer;
                border-radius: 0.5rem;
            }
        }
    }
}

.modal-parent {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .modal {
        margin-top: 5vh;
        background-color: var(--white);
        padding: 1.25rem;
        border-radius: 0.5rem;
        font-size: 1.1rem;
    }
}

.my-5 {
    margin: 2rem 0;
}

.mt-5 {
    margin-top: 2rem;
}

.mb-5 {
    margin-bottom: 2rem;
}